{% load static %}
{% load i18n %}

<div id="filter-bar" class="col-lg-12 col-md-12 col-12 ">
    <form class="filter-field" method="get">
        <div class="">
            <div class="row filtered-bar">
                <div class="col-12 col-md-3 fil-feald">
                    <h5>{% trans 'Deal' %}</h5>
                    {{ filtered_propertys.form.deal }}
                </div>
                <div class="col-12 col-md-3 fil-feald">
                    <h5>{% trans 'Province' %}</h5>
                    {{ filtered_propertys.form.province }}
                </div>
                <div class="col-12 col-md-3 fil-feald">
                    <h5>{% trans 'Price min.' %}</h5>
                    {{ filtered_propertys.form.price__gt }}
                </div>
                <div class="col-12 col-md-3 fil-feald">
                    <h5>{% trans 'Price max.' %}</h5>
                    {{ filtered_propertys.form.price__lt }}
                </div>

            </div>
            <div class="">
                <input class="btn btn-nav" type="submit" value="{% trans 'Filter' %}">
            </div>
        </div>
    </form>
</div>