/*      #FEEDBACKS        */
.feedback {
    text-align: center;
    padding: 0 10%;

}

/*.carousel-control-prev, .carousel-control-next {*/
/*    display: flex;*/
/*}*/

/*.carousel-control-prev {*/
/*    left: -1%;*/
/*    justify-content: flex-start;*/
/*}*/

/*.carousel-control-next {*/
/*    justify-content: flex-end;*/
/*    right: -1%;*/
/*}*/

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 15%;

}

.feedback-avatar {
    vertical-align: middle;
    margin: 5% 15% 15% 15%;
    border: 1px solid var(--title_shadow);
    box-shadow: 0px 0px 5px 1px var(--title);
    border-radius: 50%;
}


.carousel-indicators {
    position: static;
    margin: 5% auto;
}


.feedback-citizen {
    margin-bottom: 5%;
    color: var(--title);
}

@media only screen and (max-width: 576px) {
    .feedback-avatar {
        width: 20vmax;
    }

    .feedback-comment {
        height: 275px;
    }
}

@media only screen and (min-width: 576px) {
    .feedback-comment {
        height: 75px;
    }

    .feedback-avatar {
        width: 12vmax;
        margin: 5% 15% 8% 15%;
    }

    .feedback-client {
        margin-bottom: 2%;
    }
}