{% load static %}
{% load i18n %}

<div class="row">
    <div class="reformas-title col-12">
        <h2>{% trans 'Our team works hard to make our customers pleased.' %}</h2>
    </div>
    <div class="reforms-exampleFilm col-12 col-md-4">
        <iframe class="reforms-responsive-iframe" src="https://www.youtube.com/embed/PL3QAP2DaH4" frameborder="0"
                allowfullscreen></iframe>
    </div>
    <div class="reforms-exampleFilm col-12 col-md-4">
        <iframe class="reforms-responsive-iframe" src="https://www.youtube.com/embed/O99AtJsbOMk" frameborder="0"
                allowfullscreen></iframe>
    </div>
    <div class="reforms-exampleFilm col-12 col-md-4">
        <iframe class="reforms-responsive-iframe" src="https://www.youtube.com/embed/IEUdEdJsEjM" frameborder="0"
                allowfullscreen></iframe>
    </div>
</div>
