@media only screen and (max-width: 576px) {
    .infoHover {
        bottom: -8%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 1200px) {
    div.team-card {
        /*padding: 0 25%;*/
    }

    .infoHover {
        bottom: -15%;
    }
}

@media only screen and (min-width: 1200px) {
    .infoHover {
        bottom: -8%;
    }
}

div.team-card {
    overflow: hidden;
    margin: 5px 0;
}

.contact-ceo a {
    color: var(--title);
    opacity: 0;
    transition: ease-in-out 1s;
}

.team-card:hover .contact-ceo a {
    opacity: 1;
}

.contact-ceo {
    padding: 5px 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    bottom: 0;
    z-index: -1;
    height: 0;
    transition: ease 0.5s;
}

.team-card:hover .contact-ceo {
    height: 35px;
    z-index: 1;
    padding-bottom: 15px;
}

.team-card:hover .img-team-card img {
    transform: scale(1.1);
    filter: none;
}

.team-card:hover .infoHover {
    bottom: 0;
    background-color: var(--background);
    color: var(--white_main);
}

.img-team-card {
    overflow: hidden;
    border-radius: 50px 50px 50px 0;
}

.img-team-card img {
    width: 100%;
    filter: grayscale(20%);
    transition: 0.5s;
}

.infoHover {
    position: absolute;
    text-align: center;
    padding: 2%;
    color: var(--white_main);
    background-color: var(--background);
    transition: 0.7s;
    letter-spacing: 1px;
}