{% load static i18n %}
{% load static %}


<div class="service-type col-12">
    <div class="row rew">
        <div class="service-type col-12 col-md-6">
            <div class="service-header">
                <h2>{% trans 'Architecture and Engineering' %}</h2>
                <div class="service-text">
                    <p>
                        {% blocktrans trimmed %}
                            We take architecture smartly. Our extensive experience allows us to offer a wide range of
                            services,
                            such as obtaining licenses, converting commercial premises to residential, health and safety
                            inspections,
                            construction management, obtaining certificates of occupancy, facades rehabilitation,
                            assessment, and budgeting, to name a few.
                            Carrying out an architectural project is not easy; that is why we offer you the support of
                            an expert
                            team that knows the local market in depth.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
        <div class="service-type col-12 col-md-6">
            <a id="services-architecture"></a>
            <div class="service-img">
                <img src="{% static 'houseprojectteam/images/Arquitectura.jpg' %}" style="width: 100%;" alt="">
            </div>
        </div>
    </div>
</div>